# The primary network interface
auto {{ linux_bonding.InterfaceName }}
iface {{ linux_bonding.InterfaceName }} inet manual
      pre-up ifconfig $IFACE up
      post-down ifconfig $IFACE down
      bond-slaves none
      bond-mode 6
      bond-miimon 100